In [1]:
with open('csvfile.csv','x+') as x:
    pass
    data=x.read()
if not data:
    print('null')
else:
    print('not null')

null

In [2]:
import csv
title=['Name','Class','Age']
values=[['Aditya',12,21],['Sagar',12,44]]



csv1='csv.csv'
with open(csv1,'w',newline='') as csv2:
    csvwriter=csv.writer(csv2)
    csvwriter.writerow(title)
    csvwriter.writerows(values)

In [3]:
import pandas as pd
x1=pd.read_csv('c:/Users/DeLL/Downloads/promotion_codes.csv')
x1.head()

            Promotion code
0  2RAGVL967H677MB4NXP75ZT
1  EN469KHRYC7HZK9WXGMJXMA
2  5NYDNGJMLETK8DM0E22JUPE
3  FV68F8LCTU3VXF63KPPAYGL
4  2CP6688YFNQ96KCHUZNH1AK