In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[::-2])
print(thislist[4:-1])

['mango', 'kiwi', 'cherry', 'apple']
['kiwi', 'melon']

In [33]:
thislist[2]='Arin'
print(thislist)

['apple', 'banana', 'Arin', 'orange', 'kiwi', 'melon', 'mango']

In [34]:
thislist[2:3]=['Grapes','Papaya'] #at one positionp both will replaced
print(thislist)

['apple', 'banana', 'Grapes', 'Papaya', 'orange', 'kiwi', 'melon', 'mango']

In [35]:
thislist[2:4]=['Elephant'] # first positional replaced but second value will be truncate
print(thislist)

['apple', 'banana', 'Elephant', 'orange', 'kiwi', 'melon', 'mango']

In [36]:
x=thislist.insert(2,['dd','dfd'])
print(thislist)

['apple', 'banana', ['dd', 'dfd'], 'Elephant', 'orange', 'kiwi', 'melon', 'mango']

In [37]:
thislist.extend(['evening','night'])
print(thislist)

['apple', 'banana', ['dd', 'dfd'], 'Elephant', 'orange', 'kiwi', 'melon', 'mango', 'evening', 'night']

In [38]:
#Pop,CLear,remove & Del

print(thislist)
thislist.pop(2) # Also use del thislist(2)
print(thislist)
thislist.remove('banana')
print(thislist)
thislist.clear()
print(thislist)
del thislist

['apple', 'banana', ['dd', 'dfd'], 'Elephant', 'orange', 'kiwi', 'melon', 'mango', 'evening', 'night']
['apple', 'banana', 'Elephant', 'orange', 'kiwi', 'melon', 'mango', 'evening', 'night']
['apple', 'Elephant', 'orange', 'kiwi', 'melon', 'mango', 'evening', 'night']
[]

In [39]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])


# other way using While
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry
apple
banana
cherry

In [40]:
#Looping Using List Comprehension

[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [41]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "apple" in x]
print(newlist)

['apple']

In [42]:
#Q. Accept only numbers lower than 5?
list=[x for x in range(10) if x<5]
print(list)

[0, 1, 2, 3, 4]

In [43]:
alpha=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L',
 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
  'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']


alpha.sort()
print(alpha)
alpha.sort(reverse=True)
print(alpha)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a', 'Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [44]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [45]:
def myfunc(n):
    return abs(n - 50) #abs build in function which mean absolute numbers

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [46]:
thislist = ["apple", "banana", "cherry", "banana"]
mylist = thislist.copy()  # also use mylist = thislist.copy()
print(mylist) 
print(mylist.index('banana'))

['apple', 'banana', 'cherry', 'banana']
1

In [47]:
thistuple = ("apple",)
print(type(thistuple))  # This will output <class 'tuple'>

# NOT a tuple
thistuple = ("apple")
print(type(thistuple))  # This will output <class 'str'>

<class 'tuple'>
<class 'str'>

In [48]:
x1=tuple(('d'))
print(type(x1))
print(x1)

<class 'tuple'>
('d',)

In [49]:
x=('12','45')
y=('1','5')
z=x+y
print(z)

('12', '45', '1', '5')

Packing and unpacking in tuple data type

In [50]:
pack=('Jaipur','New Delhi','Gandhinagar')
(Rajasthan,Delhi,Gujarat)=pack #unpacking
print(Rajasthan,Delhi,Gujarat)

Jaipur New Delhi Gandhinagar

In [51]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)  # Output: apple
print(yellow) # Output: banana
print(red)    # Output: ['cherry', 'strawberry', 'raspberry']

apple
banana
['cherry', 'strawberry', 'raspberry']

In [52]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(*green, tropic, red) = fruits

print(green)  # Output: apple
print(tropic) # Output: ['mango', 'papaya', 'pineapple']
print(red)    # Output: cherry

['apple', 'mango', 'papaya']
pineapple
cherry

------------------------------------------------------------------------------------------------

In [53]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)  # Output: ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
print(mytuple.count('apple'))

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
3

Sets

In [54]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [55]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [56]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'papaya', 'mango', 'apple', 'banana', 'cherry'}

In [57]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)  # you can add value of list,set,tuple,dict also

{'kiwi', 'banana', 'apple', 'cherry', 'orange'}

In [58]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()  # its cannot take index value and remove first occure
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [59]:
x1={4,5,8,2,8}
x2={4,5,1,3,7}
print(x1.union(x2))

{1, 2, 3, 4, 5, 7, 8}

In [60]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [61]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [63]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}