In [1]:
def calc_circle_area(circle_diameter):
    pi_val=3.14159265

    circle_radius = circle_diameter / 2.0
    circle_area=pi_val * circle_radius*circle_radius
    return circle_area

def calc_pizza_calories(pizza_diameter):
    calories_per_square_inch=16.7
    total_calories =calc_circle_area(pizza_diameter) * calories_per_square_inch
    return total_calories

print(f'12 inch pizza has {calc_pizza_calories(12):.2f} calories')
print(f'14 inch pizza has {calc_pizza_calories(14):.2f} calories')

12 inch pizza has 1888.73 calories
14 inch pizza has 2570.77 calories

## Function with doctstring

In [2]:
def c_to_f(c):
    '''return celsius to fahrenheit value'''
    f=c*9/5+32
    return f

temp_c=float(input('Enter temperature in celsius:'))
temp_f=None
temp_f=c_to_f(temp_c)
print()
print('Fahrenheit:',temp_f)

Fahrenheit: 98.6

In [3]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(c)
    return celsius to fahrenheit value

## Function Stub

In [4]:
def Sample(a,b):
    pass

In [5]:
def Sample(a,b):
    '''This is a sample function'''

In [6]:
def Sample(a,b):
    print('Fix me: complete block')
    return -1

Sample(45,54)

Fix me: complete block

-1

In [7]:
def calc_ebay_fee(sell_price):
    p50=0.13
    p50_to_1000=0.05
    p1000=0.02
    fee=0.50

    if sell_price <=50:
        cumn=fee+{sell_price*p50}
    elif sell_price <=1000:
        cumn=fee+(50*p50)+((sell_price-50)*p50_to_1000)
    else:
        cumn=fee+(50*p50)+((1000-50)*p50_to_1000) \
        +((sell_price-1000)*p1000)

    return cumn

selling_price=float(input('Enter selling price:'))

print('Ebay fee:',calc_ebay_fee(selling_price))

Ebay fee: 58.5

In [8]:
value=[1,2,4,0,0,7,5]
def spy_game(value):
    right = [0, 0, 7]
    x = 0
    for num in value:
        if num == right[x]:
            x += 1
        if x == len(right):
            print('True')
            return
    print('False')
spy_game(value)

True

In [9]:
value=[1,2,4,0,0,7,5]
value[5]

7

In [10]:
def aditya(numbers):
    if not numbers:
        return 0
    return sum(numbers) / len(numbers)

In [11]:
x1=[45,2,56,456,54,54,56]
aditya(x1)

103.28571428571429

## Decorators Functions

In [12]:

def my_decorator(func):
    def wrapper():
        print('function Initiated')
        func()
        print('Function completed successfully')
    return wrapper

In [13]:
@my_decorator
def say_hello():
    print('Hello!')

In [14]:
say_hello()

function Initiated
Hello!
Function completed successfully

In [15]:
import time

In [16]:
def timing_decorator(func):
    def wrapper(numbers):
        start=time.time()
        result=func(numbers)
        end=time.time()
        print(f'{func.__name__} took {(end-start)*1000:.2f}ms')
        return result
    return wrapper

In [17]:
@timing_decorator

def calc_square(numbers):
    result=[]
    for number in numbers:
        result.append(number*number)
    return result

In [18]:
@timing_decorator

def calc_cube(numbers):
    result=[]
    for number in numbers:
        result.append(number*number*number)
    return result

In [19]:
calc_square([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])

calc_square took 0.00ms

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

## Multiple Decorators

In [20]:
def double_result(func):
    def wrpper(a,b):
        result=func(a,b)
        return result*2
    return wrpper

In [21]:
def cube_result(func):
    def wrpper(a,b):
        result=func(a,b)
        return result**3
    return wrpper

In [22]:
@double_result
@cube_result
def add_numbers(a,b):
    return a+b

print(add_numbers(2,3))

250

In [23]:
@cube_result
@double_result
def add_numbers(a,b):
    return a+b

print(add_numbers(2,3))

1000

In [24]:
x1=22
x2=7
x3=x1/x2
print(f'pi value is {x3:.2f}')

pi value is 3.14

## Function arugments

In [25]:
def print_book_desc(title,author,publisher,year,version,num_chapters,num_pages):
    print('Title:',title)
    print('Author:',author)
    print('Publisher:',publisher)
    print('Year:',year)
    print('Version:',version)
    print('Number of chapters:',num_chapters)
    print('Number of pages:',num_pages)

In [26]:
print_book_desc('The Lord of the Ring','J.R.R Tolkine','George Allen & Unwin',1954,1,19,423)

Title: The Lord of the Ring
Author: J.R.R Tolkine
Publisher: George Allen & Unwin
Year: 1954
Version: 1
Number of chapters: 19
Number of pages: 423

In [27]:
#keywords arguments

print_book_desc(title='The Lord of the Ring',author='J.R.R Tolkine',publisher='George Allen & Unwin',
                year=1954,version=1,num_chapters=19,num_pages=423)

Title: The Lord of the Ring
Author: J.R.R Tolkine
Publisher: George Allen & Unwin
Year: 1954
Version: 1
Number of chapters: 19
Number of pages: 423

In [28]:

def print_date(day,month,year,style=0):
    if style==0:
        print(f'{day}/{month}/{year}')
    elif style==1:
        print(f'{month}/{day}/{year}')
    else:
        print('invalid style')

print_date(1,1,2021)
# you must asign key arguments in the last

1/1/2021

## Variable Argument Method

In [29]:
#** key in dictionary
#* aruguments in tuple

In [30]:
def print_marks(Name,Age,*args):
    print('Student Name:',Name)
    print('Age:',Age)
    print(args)

    count=1
    for i in args:
        print('Sub. No',count,':',i)
        count+=1

In [31]:
print_marks('Vicky',20,90,80,70,60,50)

Student Name: Vicky
Age: 20
(90, 80, 70, 60, 50)
Sub. No 1 : 90
Sub. No 2 : 80
Sub. No 3 : 70
Sub. No 4 : 60
Sub. No 5 : 50

In [32]:
def print_marks(Name,Age,**args):
    print('Student Name:',Name)
    print('Age:',Age)
    print(args)

    count=1
    for i in args:
        print('Sub. No',count,':',i)
        count+=1

In [33]:
print_marks('Vicky',20,long=45,father_name='Sunil')

Student Name: Vicky
Age: 20
{'long': 45, 'father_name': 'Sunil'}
Sub. No 1 : long
Sub. No 2 : father_name

In [34]:
import pandas as pd

In [35]:
data={'Name':['Alice','Bob'],'Phone':['123.456.7890','(123) 456-7890']}
df=pd.DataFrame(data)
df

    Name           Phone
0  Alice    123.456.7890
1    Bob  (123) 456-7890

In [36]:
df['Phone'][0].replace('.','')

'1234567890'

In [37]:
df['Phone'][0].replace('(','')

'123.456.7890'

In [38]:
def clean_phone_number(phone):
    phone=phone.replace('.','')
    phone=phone.replace('(','')
    phone=phone.replace(')','')
    phone=phone.replace('-','')
    return phone

df['Cleaned_Phone']=df['Phone'].apply(clean_phone_number)
df

    Name           Phone Cleaned_Phone
0  Alice    123.456.7890    1234567890
1    Bob  (123) 456-7890   123 4567890

## Map Function

The map() function in Python is a built-in function that allows you to apply a specific function to every item in an iterable (like a list, tuple, etc.) and returns an iterator that yields the results.

In [39]:
x1 = [4, 5, 6, 7, 8, 9, 10, 11, 12]

def my_func(x):
    return x *5

print(list(map(my_func, x1)))

[20, 25, 30, 35, 40, 45, 50, 55, 60]

In [40]:
x1 = [4, 5, 6, 7, 8, 9, 10, 11, 12]
# we cannot use map function on bollen because it is not iterable and give only bullen outputs
def my_func(x):
    return x > 5

print(list(map(my_func, x1)))

[False, False, True, True, True, True, True, True, True]

In [41]:
def multiply(x):
    return x*2

res=multiply(2)
print(res)

4

In [42]:
x=map(multiply,[0,1,2,3,4,5])
x

In [43]:
print(type(x))

<class 'map'>

In [44]:
print(list(x))

[0, 2, 4, 6, 8, 10]

In [45]:
num_list=[10,20,30,40,50]
result=map(multiply,num_list)
print(result)
print(list(result))

<map object at 0x000001DDB1F1D1E0>
[20, 40, 60, 80, 100]

In [46]:
def multiply(x,y):
    return x*2,y*2

In [47]:
num_list1=[11,22,33,44]
num_list2=[55,66,77,88]
result=map(multiply,num_list1,num_list2)

print(list(result))

[(22, 110), (44, 132), (66, 154), (88, 176)]

## Lambda Function

In [48]:
def add(x,y):
    return x+y

In [49]:
print(add(2,3))

5

In [50]:
add = lambda x,y:x+y
print(type(add))

print(add(2,3))

<class 'function'>
5

In [51]:
x=map(lambda x:x*2,[0,1,2,3,4,5])
print(list(x))

[0, 2, 4, 6, 8, 10]

In [52]:
list1=[1,2,3,4,5]
list2=[10,20,30,40,50]
list(map(lambda x,y:x+y,list1,list2))

[11, 22, 33, 44, 55]

In [53]:
list_a=[{'name':'python','points':10},
        {'name':'java','points':8}]
print(list_a)

[{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

In [54]:
list(map(lambda x:x['name'],list_a))

['python', 'java']

In [55]:
list(map(lambda x:x['points'],list_a))

[10, 8]

In [56]:
list(map(lambda x:x['name']=='python',list_a))

[True, False]

## Filter Function

 Filters items in an iterable based on a condition (function) and returns an iterator with only the items that satisfy the condition.

In [57]:
x1=[2,3,4,5,6,7,8,9,10]
print(tuple(filter(lambda x:x>5,x1)))
#if we use map here
print(tuple(map(lambda x:x>5,x1)))

(6, 7, 8, 9, 10)
(False, False, False, False, True, True, True, True, True)

In [58]:
list_a = [{'name': 'python', 'points': 10},  
          {'name': 'java', 'points': 8}]

print(list_a)

# Filter List of dicts
filtered_list = list(filter(lambda x: x['name'] == 'python', list_a))

print(filtered_list)

[{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
[{'name': 'python', 'points': 10}]

In [59]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Function to check if a number is even
def is_even(n):
    return n % 2 == 0

# Filter the list to keep only even numbers
filtered_numbers = filter(is_even, numbers)

# Convert the filter object to a list (since filter() returns an iterator)
print(list(filtered_numbers))

[2, 4, 6, 8, 10]

In [60]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

# Define a function to add two numbers
def add(a, b):
    return a + b

# Use reduce to sum all numbers in the list
result = reduce(add, numbers)
print(result)  # Output: 15

15

In [61]:
from functools import reduce

numbers = [2, 3, 5, 7, 8, 10]
result = reduce(lambda x, y: x * y, filter(lambda z: z % 2 != 0, numbers))
print(result)

105

## Recursive Function


A recursive function is a function that calls itself in order to solve a problem

In [62]:
def find_sum(num):
    if num == 1:  # Base case: if num is 1, return 1
        return num
    else:  # Recursive case
        return num + find_sum(num - 1)

# Function call
find_sum(4)

10

In [63]:
#we can up scale recursion limit
import sys
print(sys.getrecursionlimit())
sys.setrecursionlimit(3500)
print(find_sum(3200))

3000
5121600

## iter,iterators,iterables

In [64]:
dir(map)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [65]:
my_set={}
dir(my_set)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [66]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [67]:
L=[1,2,3,4,5,6,7,8]
L1=iter(L)
print(type(L1))

<class 'list_iterator'>

In [68]:
T=(1,2,3,4,5,6,7,8)
T1=iter(T)

print(type(T1))

<class 'tuple_iterator'>

In [69]:
my_set={'apple','banana','orange'}
print(my_set)

{'banana', 'orange', 'apple'}

In [70]:
set_iter=iter(my_set)

print(next(set_iter))
print(next(set_iter))
print(next(set_iter))
#print(next(set_iter))

banana
orange
apple

In [71]:
dir(enumerate)

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [72]:
my_list=['apple','banana','orange']
iter1=iter(my_list)
tuple(iter1)

('apple', 'banana', 'orange')