# Date: 22 Aug 2024

In [7]:
print(round(4.3))

4

In [8]:
print(round(10.5))

10

In [9]:
print(round(42.125,1))

42.1

In [10]:
print(round(12.45,0)) # Round Formula

12.0

In [11]:
print(round(45.455,4)) # If you eneter high value by given then you got max value of availability
#

45.455

In [12]:
first_chac=int(input('Enter Your First Number'))
second_chac=int(input('Enter Your Second Number'))
third_chac=int(input('Enter Your Third Number'))
print('Your Total Value is', first_chac+second_chac+third_chac)

Your Total Value is 83

# Past Revision

In [13]:
print(int(input("Enter Your Number here")))

45

# Date: 30 Aug 2024

In [14]:
total_minutes=int(input("Enter Number Of minutes:"))
hours=total_minutes//60
minutes_remainig=total_minutes%60
print(total_minutes,"Minutes are",end="\n")
print(hours,"hour",end=" ")
print(minutes_remainig,"minutes")

12 Minutes are
0 hour 12 minutes

In [15]:
total_cm=int(input("Enter Value in CM:"))
meter=total_cm//100
cm_remainig=total_cm%100
print(total_cm,"CM are",end=" ")
print(meter,"meter",end=" ")
print(cm_remainig,"CM")

455 CM are 4 meter 55 CM

In [16]:
total_cm1=int(input("Enter Value in CM:")) 
cm_remainig1=total_cm1%100 #if we want to take only last value 
print(total_cm1,"If we remove all possible meters then",end=" ")
print(cm_remainig1,"CM Remained.")

45 If we remove all possible meters then 45 CM Remained.

# 04 Aug 2024

In [17]:
alphabet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
n=int(input('Enter number for n'))
print(alphabet[n-1])

D

# List

In [18]:
house_prices=[1500000,2500000,3200000]
print(house_prices[2])

3200000

In [19]:
s=[1500000,2500000,3200000]

print(s)

[1500000, 2500000, 3200000]

In [20]:
s=[1500000,2500000,3200000]

s.pop(1)
print(s)

[1500000, 3200000]

In [21]:
s=[1500000,2500000,3200000]
''' removing using value
so easy'''
s.remove(2500000)
print(s)

[1500000, 3200000]

In [22]:
m=[60,64,42,72,52,73,73,77,76,55,66,79,89,96,55]
v=[55,76,88,46,67,86,77,89,54,65]
print(len(m)-len(v))

5

In [23]:
m=[60,64,42,72,52,73,73,77,76,55,66,79,89,96,55]
v=[55,76,88,46,67,86,77,89,54,65]
x=min(m)
y=max(v)
print(x,"to",y)

42 to 89

In [24]:
m=[60,64,42,72,52,73,73,77,76,55,66,79,89,96,55]
v=[55,76,88,46,67,86,77,89,54,65]
x=len(m)
y=sum(m)
print(y/x)

68.6

In [25]:
m=[60,64,42,72,52,73,73,77,76,55,66,79,89,96,55]
v=[55,76,88,46,67,86,77,89,54,65]
print(sum(v)/len(v))

70.3

In [26]:
My_tuple=(10,20,30,40,50,40,67,40,35,40,23,40)
print(My_tuple.index(67))

6

In [27]:
x=int(input('Enter Your Age'))
if (x>=18):
    print('You Are eligible For Voting')

else:
    print('You are not eligible')

You are not eligible

In [28]:
if int(input('Enter Your Age'))>=18:
    print('You Are eligible For Voting')

else: print('You are not eligible')

You Are eligible For Voting

In [29]:
# Positve, Negative And Zero Tracker


x=int(input('Enter Your Number'))
if x>=0:
    if x==0:
        print('Zero')
    else:
        print('Positive')
else:
    print('Negative')

Positive

# 24 Sept 2024

In [30]:
# Palindrone finder

x=input('Enter a word')
y=x.lower()
if y==y[::-1]:
    print(x,'is Palindrone')

else:
    print(x,'is not Palindrone')

aditya is not Palindrone

In [31]:
marks= float(input('Enter Your Marks'))
if marks>100:
    print('Wrong')

elif marks>74:
    print('Grade: A+')
    print('Your Class: Distinction')

elif (marks>59):
    print('Your Grade: A')
    print('Your Class: First')
elif (marks>39):
    print('Your Grade: B')
    print('Your Class: Second')

else:
    print('You are fail')

Your Grade: B
Your Class: Second

In [32]:
# 2 Value Comparision Calculator 
user1=int(input('Enter Value'))
user2=int(input('Enter Value'))

if (user1==user2):
    print('Numbers are same')
elif (user1>user2):
    print(user1,'is max')

elif (user1<user2):
    print(user2,'is max')

Numbers are same

In [33]:
x=1
while (x<11):
    print('Programming of Python')
    x=x+1

print('Done')

Programming of Python
Programming of Python
Programming of Python
Programming of Python
Programming of Python
Programming of Python
Programming of Python
Programming of Python
Programming of Python
Programming of Python
Done

In [34]:
x=10
while (x>0):
    print(x)
    x=x-1

print('Done')

10
9
8
7
6
5
4
3
2
1
Done

In [35]:
i=int(input('Enter Value'))
x=1
while (x<11):
    print(i,'x',x,'=',i*x)
    x+=1

print('Done')

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450
Done

In [36]:
x=int(input('Enter Value'))
total=x
i=x-1
while (i>0):
    total=total*i
    i=i-1
print('The Factorial of',x,'is',total)

The Factorial of 12 is 479001600

# For Loop

In [37]:
for i in 'Python':
    print(i)

P
y
t
h
o
n

In [38]:
L=[1,2,3,4,5,6]
for i in L:
    print(i)

1
2
3
4
5
6

In [39]:
T= (1,2,3,4,5,6)
for i in T:
    print(i)

1
2
3
4
5
6

In [40]:
T= {1,2,3,4,5,6}
for i in T:
    print(i)

1
2
3
4
5
6

In [41]:
T= {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6}
for i in T:
    print(i)

A
B
C
D
E
F

In [42]:
T= {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6}
for i in T.values():
    print(i)

1
2
3
4
5
6

In [43]:
T= {'ABP':15,'NDTV':25,'CTV':43,'DD':45,}
for i in T:
    print(f'{i} is on channel number {T[i]}')

ABP is on channel number 15
NDTV is on channel number 25
CTV is on channel number 43
DD is on channel number 45

In [44]:
for i in 'Python':
    print(i)

P
y
t
h
o
n

In [45]:
for i in 'Python':
    print(i)
    if i=='y':
        break

print('done')

P
y
done

In [46]:
for i in 'Python':
    if i=='y':
        continue
    print(i)

print('Done')

P
t
h
o
n
Done

In [48]:
user_score=0
simon_pattern=input()
user_pattern=input()

for i in range(10):
    if simon_pattern[i]==user_pattern[i]:
        user_score+=1
    else:
        break

print('User score:', user_score)

User score: 1

In [33]:
user_score=0
simon_pattern=input()
user_pattern=input()

for i in range(10):
    if simon_pattern[i]==user_pattern[i]:
        user_score+=1
    else:
        continue

print('User score:', user_score)

 9588011254
 9588111254

User score: 9

In [47]:
vowels='aeiouAEIOU'
userinput=input('enter any string')
for i in userinput.strip():
    if i in vowels or i==' ':
        continue
    print('Letter:',i)

enter any string aditya bhati

Letter: d
Letter: t
Letter: y
Letter: b
Letter: h
Letter: t

In [53]:
alphabets='abcdefghijklmnopqrstuvwxyz'
user1=input('Enter Value')
v=user1.lower()
k=0
for i in alphabets:
    if i in v:
        pass # we can use continue 
    else:
        k=k+1

if(k==0):
    print('its Pangram')

else:
    print('its not Pangram')

Enter Value abcdefghijklmnopqrstuvwxya

its not Pangram

In [5]:
num=int(input('Enter Value'))
sum=0
while (num>0):
    a=num%10
    sum=sum+a
    num=num//10

print('The sum is', sum)

Enter Value 123

The sum is 6

In [21]:
num=input('Enter Value')
y=len(num)
print(y)

Enter Value 45425

5

In [ ]:
x=input('Enter String')
y=0
for i in x:
    if x.count()

In [41]:
var1=input('Enter string') #input: Lovesh is innocent
L=var1.split()
N=len(L)
n=0
for i in L:
    n=n+len(i)

print('Number of words:', N)
print('Number of characters:',n)

Enter string Python is good

Number of words: 3
Number of characters: 12

In [75]:
var1=input('Enter string')
l=var1.split()
print(l)

Enter string aditya bhati

['aditya', 'bhati']

In [83]:
x=' Lovesh is innocent gdhgh'
y=x.split()
print(y)

['Lovesh', 'is', 'innocent', 'gdhgh']

In [81]:
x='Aditya Bhati Bhati'
y=x.split()
y={}

In [71]:
x='Lovesh is is great great and great person'
y={x
print(y)

{'Lovesh is is great great and great person'}

In [3]:

initial_savings=10000
interest_rate=0.05

years= int(input('Enter year: '))
print()
savings=initial_savings
for i in range(years+1):
    print(f'Saving in year {i}: ${savings:.2f}')
    savings=savings+(savings*interest_rate)

print('\n')

Enter year:  5

Saving in year 0: $10000.00
Saving in year 1: $10500.00
Saving in year 2: $11025.00
Saving in year 3: $11576.25
Saving in year 4: $12155.06
Saving in year 5: $12762.82

In [17]:

initial_savings=10000
interest_rate=0.05

years= int(input('Enter year: '))
print()
savings=initial_savings
for i in range(0,years+1):
    if i%3==0:
        print(f'Saving in year {i}: ${savings:.2f}')
    savings=savings+(savings*interest_rate)

print('\n')

Enter year:  5

Saving in year 0: $10000.00
Saving in year 3: $11576.25

In [47]:
x1=int(input('Enter Value'))
count=0
for i in range(1,x1+1):   # range take only 1,2,3,4,5,6,7 if input is 7
    if (x1%i==0):
        count=count+1

if count==2:
    print('Its prime')

else:
    print('its not prime')

Enter Value 5

Its prime

In [63]:
x1=int(input('Enter Value'))
for i in range(1,x1+1):
    i=''*''
    i+=i
    print('i\n')

Enter Value 5

TypeError: can't multiply sequence by non-int of type 'str'

In [1]:
for i in range(1,3):
    print('Outer for loop itertion no',i)
    for j in range (1,4):
        print('J:',j)

Outer for loop itertion no 1
J: 1
J: 2
J: 3
Outer for loop itertion no 2
J: 1
J: 2
J: 3

In [ ]:
rows=int(input('Row:'))
i=1
while (i<=rows):
    j=1
    while (j<=i):
        print(j, end=' ')
        j

In [9]:
ord('A')
chr(97)

chr(ord('a'))

'a'

In [5]:
'''
letter1='a'
letter='?'
while letter1 <= 'z':
    letter2='a'
    while letter2<='z':
        print(f'{letter1}{letter}.com')
        letter2=chr(ord(letter2)+1)

    letter1=chr(ord(letter1)+1)

'''

"\nletter1='a'\nletter='?'\nwhile letter1 <= 'z':\n    letter2='a'\n    while letter2<='z':\n        print(f'{letter1}{letter}.com')\n        letter2=chr(ord(letter2)+1)\n\n    letter1=chr(ord(letter1)+1)\n\n"

In [70]:
for i in range(5,10):
    print(i)
    for j in range(1,11):
        print(i*j, end=' ')

5
5 10 15 20 25 30 35 40 45 50 6
6 12 18 24 30 36 42 48 54 60 7
7 14 21 28 35 42 49 56 63 70 8
8 16 24 32 40 48 56 64 72 80 9
9 18 27 36 45 54 63 72 81 90

In [74]:
xx=['Aditya','aditya','Mukesh','mukesh','bhati']
sorted(xx,key=str.upper)

['Aditya', 'aditya', 'bhati', 'Mukesh', 'mukesh']

In [76]:
xx=['Aditya','aditya','Mukesh','mukesh','bhati']
sorted(xx,key=str.lower)

['Aditya', 'aditya', 'bhati', 'Mukesh', 'mukesh']

In [80]:
x=[[25],[10,15],[10,25,35]]
sorted(x,key=max)

[[10, 15], [25], [10, 25, 35]]

In [82]:
x=[[25],[10,15],[10,25,35]]
sorted(x,key=min)

[[10, 15], [10, 25, 35], [25]]

In [102]:
x=input('enter 1st')
y=input('enter 2nd')
x1= sorted(x,key=str.lower)
y1= sorted(y,key=str.lower)

if (x1==y1):
    print('Anagram')

else:
    print('Not Anagram')

enter 1st adit
enter 2nd tida

Anagram

In [19]:
x=input('Enter comma separated number:')
xx=[int(i) for i in x.split(',')]
even=[i for i in xx if (i%2)==0]
print(even)

Enter comma separated number: 42,43,45,44

[42, 44]