usecols, index_col, parse_dates, skip_rows, header, index,

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/DeLL/Downloads/Book1.csv",
               usecols=['Sr No.','Name','Age','City','Date'],
               index_col=['Sr No.'],
               parse_dates=['Date'])
df

        Name  Age  City       Date
Sr No.
1          1    2     3 2024-12-12
2          2    4     6 2024-12-13
3          3    6     9 2024-12-14
4          4    8    12 2024-12-15
5          5   10    15 2024-12-16
6          6   12    18 2024-12-17
7          7   14    21 2024-12-18
8          8   16    24 2024-12-19
9          9   18    27 2024-12-20
10        10   20    30 2024-12-21

In [3]:
df.shape

(10, 4)

In [4]:
df.dtypes

Name             int64
Age              int64
City             int64
Date    datetime64[ns]
dtype: object

In [5]:
df.to_csv("C:/Users/DeLL/Downloads/Book12.csv",index=False)

In [6]:
df=pd.read_excel("C:/Users/DeLL/Downloads/Book2.xlsx",'Sheet1')
df

   Sr No.  Name2  Age2  City2      Date2
0       1      1     2      3 2024-12-12
1       2      2     4      6 2024-12-13
2       3      3     6      9 2024-12-14
3       4      4     8     12 2024-12-15
4       5      5    10     15 2024-12-16
5       6      6    12     18 2024-12-17
6       7      7    14     21 2024-12-18
7       8      8    16     24 2024-12-19
8       9      9    18     27 2024-12-20
9      10     10    20     30 2024-12-21

In [7]:
from tabula import read_pdf

# df = read_pdf("C:/Users/DeLL/Downloads/Aditya_Bhati_Resume (14).pdf", pages='all')