# Sorting and Ranking

In [11]:
import numpy as np
import pandas as pd

In [12]:
x1=np.arange(10).reshape(5,2)
df=pd.DataFrame(x1,columns=['A','B'],index=['e','b','c','d','a'])
x1=pd.Series(df['A'])
print(x1)

e    0
b    2
c    4
d    6
a    8
Name: A, dtype: int32

In [13]:
x1.sort_index()

a    8
b    2
c    4
d    6
e    0
Name: A, dtype: int32

In [14]:
print(x1)
x1.sort_index(inplace=True)
print(x1)

e    0
b    2
c    4
d    6
a    8
Name: A, dtype: int32
a    8
b    2
c    4
d    6
e    0
Name: A, dtype: int32

In [15]:
df = pd.DataFrame(np.arange(10, 20).reshape(5, 2), columns=['B', 'A'], index=['e', 'b', 'c', 'd', 'a'])
print(df)

df.sort_index(axis=1)

    B   A
e  10  11
b  12  13
c  14  15
d  16  17
a  18  19

    A   B
e  11  10
b  13  12
c  15  14
d  17  16
a  19  18

In [16]:
df.sort_index(axis=0)

    B   A
a  18  19
b  12  13
c  14  15
d  16  17
e  10  11

In [17]:
df.sort_index(axis=0).sort_index(axis=1)

    A   B
a  19  18
b  13  12
c  15  14
d  17  16
e  11  10

In [20]:
x1=df['A']
x1

e    11
b    13
c    15
d    17
a    19
Name: A, dtype: int32

## sorting values

In [21]:
x1=df['A']
x1.sort_values(axis=0)

e    11
b    13
c    15
d    17
a    19
Name: A, dtype: int32

In [25]:
df
df.sort_values(by='A')

    B   A
e  10  11
b  12  13
c  14  15
d  16  17
a  18  19

In [26]:
df.sort_values(by=['B','A'])

    B   A
e  10  11
b  12  13
c  14  15
d  16  17
a  18  19

In [27]:
df.index.is_unique

True