#GROUPBY
#UNSTACK
#GROUP+SIZE
#

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({
    'A': [11, 12, 13, 14],
    'B': [21, 22, 23, 24],
    'C': [31, 32, 33, 34],
    'D': [41, 42, 43, 44]
}, index=[1, 2, 3, 4])

df1

    A   B   C   D
1  11  21  31  41
2  12  22  32  42
3  13  23  33  43
4  14  24  34  44

In [3]:
df1.mean(axis=1)

1    26.0
2    27.0
3    28.0
4    29.0
dtype: float64

In [4]:
df1['B'].mean()

22.5

In [5]:
df1.loc[1].sum()

104

In [6]:
df=pd.DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.rand(5),'data2':np.random.rand(5)})
df

  key1 key2     data1     data2
0    a  one  0.219732  0.434209
1    a  two  0.080908  0.487377
2    b  one  0.581675  0.177850
3    b  two  0.141811  0.019862
4    a  one  0.691973  0.329706