In [11]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv("C:/Users/DeLL/Downloads/Book1.csv",usecols=['Sr No.','Name','Age','City'],index_col=['Sr No.'])
df

        Name  Age  City
Sr No.
1          1    2     3
2          2    4     6
3          3    6     9
4          4    8    12
5          5   10    15
6          6   12    18
7          7   14    21
8          8   16    24
9          9   18    27
10        10   20    30

In [20]:
df.shape

(10, 3)