## Series

In [28]:
import pandas as pd
import numpy as np

In [29]:
x1=pd.Series(dtype=float)
print(x1)

Series([], dtype: float64)

In [30]:
import numpy as np
series=np.array([1,2,3,4,5])
x1=pd.Series(series,dtype=float,index=['a','b','c','d','e'])
print(x1)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [31]:
data={'a':45,'b':12,'c':75}
x1=pd.Series(data,index=['a','b','c','d'])
print(x1)

a    45.0
b    12.0
c    75.0
d     NaN
dtype: float64

In [32]:
data=pd.Series(5,index=['a','b','c','d'],dtype=float)
print(data)

a    5.0
b    5.0
c    5.0
d    5.0
dtype: float64

In [33]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Sum along the rows (axis=0)
sum_rows = df.sum(axis=0)
print(sum_rows)

# Sum along the columns (axis=1)
sum_columns = df.sum(axis=1)
print(sum_columns)

A     6
B    15
C    24
dtype: int64
0    12
1    15
2    18
dtype: int64

In [34]:
x1=pd.Series([12,45,54,15,np.nan,15,15,48,45,54])
x1

0    12.0
1    45.0
2    54.0
3    15.0
4     NaN
5    15.0
6    15.0
7    48.0
8    45.0
9    54.0
dtype: float64

In [35]:
print(x1[:5])
print(x1[:5])
print(x1[::-1])
print(x1[:-5:-1])
#sequence[start:stop:step]

0    12.0
1    45.0
2    54.0
3    15.0
4     NaN
dtype: float64
0    12.0
1    45.0
2    54.0
3    15.0
4     NaN
dtype: float64
9    54.0
8    45.0
7    48.0
6    15.0
5    15.0
4     NaN
3    15.0
2    54.0
1    45.0
0    12.0
dtype: float64
9    54.0
8    45.0
7    48.0
6    15.0
dtype: float64

In [36]:
#Give Labels to series
x2=x1.set_axis(['a','b','c','d','e','f','g','h','i','j'])
print(x2)
print(x2['d'])

a    12.0
b    45.0
c    54.0
d    15.0
e     NaN
f    15.0
g    15.0
h    48.0
i    45.0
j    54.0
dtype: float64
15.0

In [40]:
print(x2.axes)
print(x2.empty)

print(x2.size)
print(len(x2))

[Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')]
False
10
10

In [43]:
x2.values

array([12., 45., 54., 15., nan, 15., 15., 48., 45., 54.])